@model IEnumerable<Nhom32_QuanLyTiemChung.Models.ChiTietPhieuXuat>

@{
    ViewBag.Title = "Chi tiết phiếu xuất";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Danh sách chi tiết phiếu xuất</h2>

<p>
    @Html.ActionLink("Thêm chi tiết phiếu xuất", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Mã phiếu xuất</th>
            <th>Mã Vaccine</th>
            <th>Số lượng xuất</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@Html.DisplayFor(modelItem => item.idPhieuXuat)</th>
                <th>@Html.DisplayFor(modelItem => item.idVaccine)</th>
                <th>@Html.DisplayFor(modelItem => item.soLuongXuat)</th>
                
            
               
            </tr>
        }
    </tbody>
</table>

<style>
    body {
        font-family: sans-serif;
    }

    h2 {
        margin: 20px;
        text-align: center;
        font-weight: bold;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table th, .table td {
            padding: 12px 15px;
            text-align: left;
        }

        .table thead {
            background-color: #343a40;
            color: white;
        }

        .table tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .table tbody tr:hover {
            background-color: #e9ecef;
        }

    .btn {
        margin-right: 5px;
    }
</style>
